/videos/
target/
.idea/
*.iml
org/_posts
site/src/main/webapp/jekyll/_site
site/src/main/webapp/jekyll/_posts
site/src/main/webapp/org/_posts
/external-properties/new/link-checker/database/
/external-properties/old/link-checker/database/
