{% include header.html %}
<body class="video">
<div id="header" class="container">
    <div id="header-top">
        <ul id="header-nav">
            <li><a id="episodes" href="/index.html">episodes</a></li>
        </ul>
        <div id="video-wrapper">
            <video id="video-{{ page.episode }}" class="video-js vjs-default-skin" controls preload="auto" width="650" height="487"
                   poster="/images/javajing/episode{{ page.episode }}-poster.png"
                   data-setup='{"example_option":true}'>
                <source src="https://s3.amazonaws.com/javajing/videos/{{ page.video }}" type='video/mp4' />
            </video>
        </div>
    </div>
</div>
<div id="content-wrapper">
    <div id="content">
        {{ content }}
    </div>
</div>
</body>
{% include footer.html %}
