{% include header.html %}
<body class="video">
<div id="header" class="container">
    <div id="header-top">
        <ul id="header-nav">
            <li><a id="episodes" href="/index.html">episodes</a></li>
        </ul>
        <div id="video-wrapper">
            <video id="video-{{ page.episode }}" class="video-js vjs-default-skin" controls preload="auto" width="650" height="487"
                   poster="/images/javajing/episode{{ page.episode }}-poster.png"
                   data-setup='{"example_option":true}'>
                <source src="https://s3.amazonaws.com/javajing/videos/{{ page.video }}" type='video/mp4' />
            </video>
        </div>
    </div>
</div>
<div id="content-wrapper">
  <h4><a href="#shownotes">(See Show Notes Below &darr;)</a></h4>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'javajing'; // required: replace example with your forum shortname
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    <div id="content">
      <a id="shownotes"/>
        {{ content }}
    </div>
</div>
</body>
{% include footer.html %}
