<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>example-jetty-debug</display-name>

  <welcome-file-list>
    <welcome-file>/app</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>javajing</filter-name>
    <filter-class>com.upgradingdave.debug.CookieFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>javajing</filter-name>
    <url-pattern>/app</url-pattern>
  </filter-mapping>

   <servlet>
     <servlet-name>app</servlet-name>
     <servlet-class>com.upgradingdave.debug.AppServlet</servlet-class>
   </servlet>

   <servlet-mapping>
     <servlet-name>app</servlet-name>
     <url-pattern>/app</url-pattern>
   </servlet-mapping>

</web-app>
